/* Light Mode (default) */
body {
  background-color: #fff;
  color: #333;
  font-family: Arial, sans-serif;
}

.dynamic-form-container {
  padding: 20px;
}

/* Dark Mode */
body.dark-mode {
  background-color: #fff;
  color: #fff;
}

body.dark-mode .dynamic-form-container {
  background-color: #444;
}

body.dark-mode .form-control {
  background-color: #555;
  color: white;
}

body.dark-mode button {
  background-color: #666;
  color: white;
}

body.dark-mode button.dark-mode-btn {
  color: white;
}
